.customBtn {
  position: relative;
  overflow: hidden;
  pointer-events: visible;
}

.customBtn:hover .btnText {
  z-index: 100;
  color: #fff;
}

.customBtn::before,
.customBtn::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: var(--y);
  left: var(--x);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #1e86fc;
  transition: width 0.3s, height 0.3s;
}
.customBtn::after {
  background: #ffffff31;
}
.customBtn:hover::before {
  width: calc(100% + 200px);
  height: calc(100% + 200px);
}
.customBtn:hover::after {
  width: 80%;
  height: 170%;
}
/* // import "./button.css"
// import { IButton } from "../../type"
// import { forwardRef } from "react"

// const Button = forwardRef<HTMLButtonElement, IButton>((props, ref) => {
//   const {
//     children,
//     type,
//     onClick,
//     disabled,
//     loading,
//     secondary,
//     fullWidth,
//     onMouseMove,
//   } = props;



//   return (
//     <button type={type} disabled={disabled} ref={ref} onMouseMove={onMouseMove} onClick={onClick} className={` 

//        py-2 bg-white rounded-sm shadow-inner
//         shadow-neutral-100 text-sm font-normal
//         text-neutral-700 ring-2 ring-offset-2 
//         ring-slate-500 px-4 inline-flex
//         hover:text-white
//         hover:text-[16px]

//         ${disabled && "opacity-50 cursor-default"} 
//         ${fullWidth && "w-full"} 
//         ${secondary && "bg-pink-200 text-black hover:bg-pink-300 active:bg-pink-400 active:scale-95  dark:bg-slate-800"}
//         ${loading && "cursor-wait"}
//       customBtn ` }>
//       {loading && (
//         <span className="animate-spin mr-2  text-start">
//           ⟳
//         </span>
//       )}
//       {children}
//     </button>
//   )
// })

// export default Button
 */
